.hl {
  color: red;
}

.pic {
  float: left;
  width: 210px;
}

.intro {
  margin: 60px 100px 100px 100px;
}

body {
  background-color: rgb(238, 255, 210);
}

.ttl {
  margin-left: 100px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.txt {
  margin-left: 220px;
  margin-right: 485px;
  font-size: 25px;
}

ol, ul {
  font-size: 25px;
  margin-left: 100px;
}

.ftr {
  border-top: 1px solid grey;
  margin-left: 100px;
  margin-right: 485px;
}
